[Unit]
Description=PVS application
Requires=postgresql-9.1.service redis.service
After=postgresql-9.1.service redis.service

[Service]
Type=forking

User=web
Group=web

ExecStart=/apps/pvs/pvscore/bin/startup.sh pvs
ExecStop=/apps/pvs/pvscore/bin/shutdown.sh pvs

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=90

[Install]
WantedBy=multi-user.target
