[Unit]
Description=WealthMakers application
Requires=redis.service
After=redis.service

[Service]
Type=forking

User=web
Group=web

ExecStart=/apps/pvs/pvscore/bin/startup.sh wm
ExecStop=/apps/pvs/pvscore/bin/shutdown.sh wm

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=90

[Install]
WantedBy=multi-user.target
